---

- hosts: 'webservers'
  tasks:
  - name: 'install nginx'
    apt:
      name: 'nginx'
      state: 'present'
  - name: 'Ensure Nginx is running and starts on boot'
    service: 
      name: nginx
      state: started 
      enabled: true
  - name: 'install php'
    apt:
      name: 'php'
      state: 'present'
  - name: 'Install MySQL'
    apt:
      name:
        - 'mysql-server'
        - 'mysql-client'
      state: 'present'
  - name: 'Ensure MySQL is running and starts on boot'
    service: 
      name: 'mysql' 
      state: 'started'
      enabled: true
    become: true
  - name: 'Install PyMySQL'
    pip:
      name: 'PyMySQL'
  - name: Create a new database with name 'wordpress'
    community.mysql.mysql_db:
      name: 'wordpess'
      state: 'present'
      login_unix_socket: /var/run/mysqld/mysqld.sock
  - name: Create database user with name 'user' and password '12345'
    community.mysql.mysql_user:
      name: 'user'
      password: '12345'
      priv: '*wordpress.*:ALL,GRANT'
      login_unix_socket: /var/run/mysqld/mysqld.sock
      state: present 
  - name: 'Download and Extract WorPress'
    unarchive:
      src: https://wordpress.org/latest.tar.gz
      dest: /var/www/
      remote_src: yes
  - name: 'Copy sample config file'
    command: mv /var/www/wordpress/wp-config-sample.php /var/www/wordpress/wp-config.php
    become: true
  - name: Update Wordpress config file
    lineinfile:
      path: /var/www/wordpress/wp-config.php
      regexp: "{{item.regexp}}"
      line: "{{item.line}}"
    with_items:
        - {'regexp': "define\\( 'DB_NAME', '(.)+' \\);", 'line': "define( 'DB_NAME', 'wordpress' );"}
        - {'regexp': "define\\( 'DB_USER', '(.)+' \\);", 'line': "define( 'DB_USER', 'user' );"}
        - {'regexp': "define\\( 'DB_PASSWORD', '(.)+' \\);", 'line': "define( 'DB_PASSWORD', '12345' );"}
  - name: Set the correct permissions on Wordpress directories
    command: find /var/www/wordpress/ -type d -exec chmod 750 {} \;
  - name: Set the correct permissions for Wordpress files
    command: find /var/www/wordpress/ -type f -exec chmod 640 {} \;
  - name: Copy default to wordpress
    copy: src=/etc/nginx/sites-available/default dest=/etc/nginx/sites-available/wordpress remote_src=yes 
  - name: 'Create symlink wordpess'
    ansible.builtin.file:
      force: true
      src: /etc/nginx/sites-available/wordpress
      dest: /etc/nginx/sites-enabled/wordpress
      state: link  
  - name: 'Remove default config'
    ansible.builtin.file:
      path: /etc/nginx/sites-enabled/default
      state: absent
  - name: 'Change root in wordpress config'
    ansible.builtin.lineinfile:
      path: /etc/nginx/sites-available/wordpress
      regexp: ' *root *'
      line: root /var/www/wordpress;
      firstmatch: yes
  - name: 'Set owner www-data'
    file:
        path: "/var/www"
        state: directory
        recurse: yes
        owner: www-data
        group: www-data
  handlers:
    - name: 'Reload nginx'
      service: name=nginx state=restarted
  become: true